.table--price{
    min-width: 80px;
}

.price-column:hover::after{
    content: "Clique no nome do posto para mais informação!";
    position: relative;
}


.table--head{
    display: flex;
    align-items: center;
    border: none;
}