.pop-up-container{
    margin: auto 2px;
}

.blue-section{
    border-radius: 10px;   
}


.marca{
    padding-inline: 3px;
    background-color: crimson;
    border-radius: 5px;
}

.horario--title{
    font-weight: 800;
}

.horario--text{
    padding-left: 10px;
}

.pagamento--title{
    font-weight: 800;
}

.pagamento--text{
    padding-left: 10px;
}


.footer-title{
    font-weight: 800;
    padding-top: 10px;

}

.card-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}